.column {
  .column {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  h3 {
    color: white;
  }
  b {
    color: white;
  }
  p {
    color: white;
  }
}
